@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;1,200&display=swap");

.mainback {
  min-height: 87vh;
  display: flex;
  padding: 10px 0;
}
.Page {
  width: 100%;
}

.heading {
  font-family: "Work Sans";
  padding: 5px 10px;
  font-size: 50px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
    text-align: center;
  }
}
