.main {
  min-height: 95vh;
  display: flex;
  align-items: center;
  background-image: url("../../background1.jpg");
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 90px;
}
.sub-title {
  font-size: 25px;
  padding-top: 15px;
}
.intro-text {
  text-align: center;
  width: 100%;
}

.buttonContainer {
  margin-top: 50px;
}

.landingButton {
  width: 180px;
  height: 55px;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  .landingButton {
    width: 150px;
    height: 50px;
  }
}
